<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,minimum-scale=1,maximum-scale=1,shrink-to-fit=no,user-scalable=no,minimal-ui" name="viewport">
    <title>binding</title>
    <link rel="stylesheet" href="/public/styles/reset.css">
    <link rel="stylesheet" href="/public/styles/binding.css">
    <script type="text/javascript" src="/public/scripts/lib/viewport.js"></script>
</head>

<body>
    <h1 class="title">Meetings</h1>
    <h2 class="subtitle">身份绑定</h2>

    <div class="content-wrap">
        <form class="form hidden" action="/api/bind" method="post">
            <input class="form-input form-name" type="text" name="jobNumber" value="myid" placeholder="请输入姓名id" />
            <input class="form-input form-phone" type="tel" name="phone" value="myphone" placeholder="请输入手机号码" />
            <input class="btn btn-submit" type="submit" value="提交" />
        </form>
        <p class="bind-succeed hidden">
            您已绑定成功(｡◕∀◕｡)
        </p>
    </div>

    <script type="text/javascript" src="/public/scripts/lib/nobounce.js"></script>
    <script type="text/javascript" src="/public/scripts/lib/zepto.min.js"></script>
    <script type="text/javascript" src="/public/scripts/pages/binding.js"></script>
</body>

</html>
